/*  Index page specific css */
.index-header {
  text-align: center;
}

.step-one-section {
  position: relative;
  top: 15%;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .step-one-section {
    position: relative;
    top: 5%;
    margin: auto;
  }
}

.card-header {
  height: 65px;
}

.card-title {
  margin: 25px;
}

#start-email, #start-presentation {
  margin-top: 20px;
  margin-bottom: 30px;
}
