{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="images/favicon.ico">
	<title>혜민과 시형의 방</title>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--Fonts-->
  <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->
  <link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel="stylesheet">
  <!-- Icons -->
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
	<div class="container-fluid" id="wrapper">
		<div class="row">
			<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
				<h1 class="site-title"><a href="{% url 'index' %}"><em class="fa fa-female"></em> 혜민</a></h1>

				<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>

				<ul class="nav nav-pills flex-column sidebar-nav">
					<!-- <li class="nav-item"><a class="nav-link active" href="index.html"><em class="fa fa-dashboard"></em> 홈 <span class="sr-only">(current)</span></a></li> -->
          <li class="nav-item"><a class="nav-link" href="index.html"><em class="fa fa-home"></em> 홈</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"><em class="fa fa-question-circle"></em> 소개</a></li>
					<li class="nav-item"><a class="nav-link" href="charts.html"><em class="fa fa-book"></em> 템플렛</a></li>
					<li class="nav-item"><a class="nav-link" href="elements.html"><em class="fa fa-sign-in"></em> 로그인</a></li>
        </ul>

				<a href="#" class="logout-button"><em class="fa fa-power-off"></em> 로그아웃</a></nav>

			<main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
        <section style="text-align: center;">
          <h1>팀원 소개</h1>
        </section>
        <section class="row" style="margin-top: 50px;">
					<div class="col-lg-5 mb-4">
            <h3 style="text-align: center;">우리 햄</h3>
            <div class="row" style="align-items: center;">
              <img src="{% static 'images/hyemin.jpg' %}" style="max-width: 300px; margin: auto;">
            </div>
					</div>

          <div class="col-lg-2 mb-4">
            <h1 style="text-decoration: none; text-align: center; margin-top: 200px;"><em class="fa fa-heart"></em></h1>
          </div>

					<div class="col-lg-5 mb-4">
            <h3 style="text-align: center;">우리 필립</h3>
            <div class="row" style="align-items: center;">
              <img src="{% static 'images/sihyeong.jpg' %}" style="max-width: 300px; margin: auto;">
            </div>
					</div>
					</div>
				</section>
			</main>
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>

    <script src="{% static 'js/chart.min.js' %}"></script>
    <script src="{% static 'js/chart-data.js' %}"></script>
    <script src="{% static 'js/easypiechart.js' %}"></script>
    <script src="{% static 'js/easypiechart-data.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
	    window.onload = function () {
	var chart1 = document.getElementById("line-chart").getContext("2d");
	window.myLine = new Chart(chart1).Line(lineChartData, {
	responsive: true,
	scaleLineColor: "rgba(0,0,0,.2)",
	scaleGridLineColor: "rgba(0,0,0,.05)",
	scaleFontColor: "#c5c7cc"
	});
};
	</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

	  </body>
</html>
