{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>우박템플렛</title>

  <!-- css -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body>

  <div class="navigation">
    <div class="nav-logo">
      <div class="logo-section">woobak</div>
    </div>
    <div class="nav-menu">
      <div class="menu-section">hello hello</div>
    </div>
  </div>

  <div class="selection">
    <div class="selection-card"></div>
    <div class="selection-card"></div>
  </div>

  <script src="{% static 'home/jquery.min.js' %}"></script>

</body>
</html>
